.whom-we-serve {
    margin: 0 auto;
    padding: 20px;
    background-color: #d5f1d5;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .whom-we-serve ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  .whom-we-serve li {
    margin-bottom: 20px;
    line-height: 1.4;
  }
  